<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="./assets/css/reset.css">
        <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js">
        </script>

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
            crossorigin="anonymous" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
            integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
            crossorigin="anonymous" referrerpolicy="no-referrer" />

        <link
            href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,700;0,900;1,400;1,700;1,900&family=Roboto+Slab:wght@400;500;600;700;900&display=swap"
            rel="stylesheet" />
        <link rel="stylesheet" href="../assets/css/cart.css">

        <title>Shoe</title>
    </head>

    <title>Document</title>
</head>

<body>
    <div id="app">
<div id="header">
    <div class="container">
        <div class="cart">
            <p><i class="fas fa-shopping-cart"></i>{{cart}}</p>
        </div>
    </div>
</div>
        <!-- product -->
        <div class="container">
          <div class="product">
            <div class="image">
              <img :src="ProductImage" />
            </div>
            <div class="content">
              <h1>{{ title }}</h1>
              <div class="stockInfo">
                <span class="green" v-if="inventory > 10">In Stock</span>
                <span class="amber" v-else-if="inventory <= 10 && inventory > 0">
                  Only few left
                </span>
                <span class="red" v-else>Out of Stock</span>
              </div>
              <ul class="features">
                <li v-for="(feature, index) in features" :key="index">
                  {{ feature }}
                </li>
              </ul>
              <div class="variants">
                <span
                  v-for="(variant, index) in variants"
                  :key="variant.variantId"
                  @mouseover="updateImage(index)"
                  class="colorBox"
                  :style="{ backgroundColor: variant.variantColor }"
                >
                </span>
              </div>
              <div class="shipping">Shipping: {{ shipping }}</div>
              <div class="addCart">
                <button
                  @click="addToCart"
                  :disabled="inventory <= 0"
                  :class="{ disabledState: inventory <= 0 }"
                >
                  Add to Cart
                </button>
              </div>
            </div>
          </div>
          <!-- <product-tabs :reviews="reviews"></product-tabs> -->
        </div>
 
    </div>

      <script>
         new Vue({
            el:"#app",
            data:{
                brand:"Nike",
                product:"Court Legacy",
                selectedVariant:0,
                cart:0,
                features: ["Durable leather", "Secure lace up", "Padded ankle collar"],
                variants: [
                                {
                                    variantId: 1,
                                    variantColor: "grey",
                                    variantImage: "../assets/img/shoe-grey.jpg",
                                    variantQty: 20,
                                },
                                {
                                    variantId: 2,
                                    variantColor: "white",
                                    variantImage:"../assets/img/shoe-white.jpg",
                                    variantQty: 5,
                                },
                                {
                                    variantId: 3,
                                    variantColor: "Black",
                                    variantImage: "../assets/img/shoe-black.jpg",
                                    variantQty: 0,
                                   
                                    
                                }
                            ],
            },

            methods:{
                addToCart(){
                    this.cart +=1
                },
                updateImage(index){
                 this.selectedVariant = index;
                 console.log(index)

            }
        },
        computed:{
            title(){
                return this.brand + " " +this.product
            }, 
            ProductImage(){
                return this.variants[this.selectedVariant].variantImage;
            },
            inventory(){
                return this.variants[this.selectedVariant].variantQty
            },
            shipping() {
      if(this.member) {
        return 'FREE'
      }
      return '£' + 2.99
    }
        }
         })
      </script>
      

</body>

</html>